<h1>Show me the money</h1>


<select style="height: 200px;" class="form-control" [(ngModel)]="currencyCode">
    <option *ngFor="let currencyCode of currencyCodes" [value]="currencyCode">{{currencyCode}}</option>
</select>

<input [(ngModel)]="amount" placeholder="Amount">
<button (click)="showMoney()">Show me the money !</button>

<div *ngFor="#url of urls">
    <img style='height:130px;' src="{{url}}"/>
</div>

<!--<ul>-->
    <!--<li *ngFor="#note of notes">-->
        <!--<p>note: {{note}} : {{bills[note].number}} </p>-->
        <!--<p>url: {{bills[note].url}}</p>-->
        <!--<a href="{{bills[note].url}}"> link </a>-->
    <!--</li>-->
<!--</ul>-->

